---
name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Run Build and Tests
    runs-on: ubuntu-24.04

    env:
      PROG: xwinfocus

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # 5.0.0
        with:
          fetch-depth: 0
          show-progress: "false"

      # https://github.com/marketplace/actions/conventional-commit-cocogitto-action#reference
      - name: Install cocogitto
        uses: cocogitto/cocogitto-action@9a9fe03b31c47444290c0d7f9b1ee1b44ee13f20 # v4.1.0
        with:
          check: false
          check-latest-tag-only: true
          verify: false

      - name: Get version
        id: version
        run: |
          version=$(cog bump --auto --dry-run)
          echo "version=${version#v}" >>"${GITHUB_OUTPUT}"

      - name: Get commit hash
        id: github
        run: echo 'commit_hash=${{ github.sha }}' >>"${GITHUB_OUTPUT}"

      - name: Update
        run: sudo apt-get update --yes --quiet=2

      - name: Install build necessities
        run: |
          sudo apt-get install --yes --quiet=2 \
            --no-install-recommends --option DPkg::NoTriggers=true \
            build-essential libcriterion-dev libx11-dev libxcb1-dev libxau-dev libxdmcp-dev

      - name: Build project
        run: make VERSION=${{ steps.version.outputs.version }} COMMIT_HASH=${{ steps.github.outputs.commit_hash }}

      - name: Strip binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: strip ${PROG}

      - name: Test run
        run: ./${PROG} --version

      - name: Run unit tests
        run: make test

      - name: Upload artifact bundle
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PROG }}
          path: |
            LICENSE
            ${{ env.PROG }}
            ${{ env.PROG }}.1.gz
            nfpm.yaml
          retention-days: 1
          compression-level: 9
          overwrite: true
