---
name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    name: Run Build and Tests
    runs-on: ubuntu-24.04

    env:
      PROG: xwinfocus

    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ github.event.pull_request.head.sha }} # pick PR's HEAD instead of merge commit
          fetch-depth: 0
          show-progress: "false"

      - name: Save commit message to file
        id: commit
        run: |
          FILE=$(mktemp --dry-run --tmpdir=${{ runner.temp }})
          git --no-pager log -1 --no-color --pretty=%B >"${FILE}"
          echo "file=${FILE}" >>"${GITHUB_OUTPUT}"

      - name: Verify if commit is conventional
        uses: cocogitto/cocogitto-action@9a9fe03b31c47444290c0d7f9b1ee1b44ee13f20 # v4.1.0
        with:
          command: verify
          args: --ignore-merge-commits --ignore-fixup-commits --file ${{ steps.commit.outputs.file }}

      - name: Get next version
        id: version
        run: |
          rm --force -- ${{ steps.commit.outputs.file }}
          cog bump --auto --dry-run | sed 's/^v/version=/' >>"${GITHUB_OUTPUT}"

      - name: Update packages
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: sudo apt-get update --yes --quiet=2 && sudo apt-get upgrade --yes --quiet=2

      - name: Install build necessities
        run: |
          sudo apt-get install --yes --quiet=2 \
            --no-install-recommends --option DPkg::NoTriggers=true \
            build-essential libcriterion-dev libx11-dev libxcb1-dev libxau-dev libxdmcp-dev

      - name: Build project
        run: make VERSION=${{ steps.version.outputs.version }} COMMIT_HASH=${{ github.sha }}

      - name: Strip binary
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        run: strip ${PROG}

      - name: Test run
        run: ./${PROG} --version

      - name: Run unit tests
        run: make test

      - name: Upload artifact bundle
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ env.PROG }}
          path: |
            LICENSE
            ${{ env.PROG }}
            ${{ env.PROG }}.1.gz
            nfpm.yaml
          retention-days: 1
          compression-level: 9
          overwrite: true
