---
name: Check that commits are signed

on:
  pull_request_target:

jobs:
  check:
    runs-on: ubuntu-24.04

    permissions:
      contents: read
      pull-requests: write

    steps:
      - uses: 1Password/check-signed-commits-action@ed2885f3ed2577a4f5d3c3fe895432a557d23d52 # 1.2.0
        with:
          comment: "Commit ${{ github.sha }} in branch `${{ github.ref_name }}` must be signed."
